@media screen and (max-width: 992px) {
    .nav-item-center {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }
    .nav-item-left,
    .nav-item-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
    .wrapper {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: 0 auto;
        padding: 0.5rem 0;
    }
    .ep-navbar .menu-mobile-toggle {
        position: relative;
        display: block;
        cursor: pointer;
        width: 1.5rem;
        height: 1.15rem;
        border: none;
        outline: none;
        margin-left: 1.25rem;
        margin-top: 0;
        background: none;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.35s ease-in-out;
        transition: 0.35s ease-in-out;
    }
    .ep-navbar .menu-mobile-toggle span {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        border: none;
        outline: none;
        opacity: 1;
        border-radius: 0.25rem;
        background: var(--color-sec-txt);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
    }
    .nav-at-header .menu-mobile-toggle span {
        background: var(--color-white);
    }
    .ep-navbar .menu-mobile-toggle span:nth-child(1) {
        top: 0;
    }
    .ep-navbar .menu-mobile-toggle span:nth-child(2),
    .ep-navbar .menu-mobile-toggle span:nth-child(3) {
        top: 0.5rem;
    }
    .ep-navbar .menu-mobile-toggle span:nth-child(4) {
        top: 1rem;
    }
    .nav-item-right {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .ep-navbar .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 75%;
        height: 100vh;
        z-index: 111;
        overflow: hidden;
        background: var(--color-navMenu-bg);
        backdrop-filter: blur(5px);
        -webkit-transform: translate(-100%);
        transform: translate(-100%);
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    .ep-navbar .menu.active {
        -webkit-transform: translate(0%);
        transform: translate(0%);
    }
    .ep-navbar .menu>ul {
        padding: 0 8%;
    }
    .ep-navbar .menu>ul>li {
        display: block;
        line-height: 1;
        margin: 0;
        padding: 8px 0;
        height: 3.125rem;
    }
    .ep-navbar .menu>ul>li.active {
        margin-bottom: 8px;
    }
    .ep-navbar .menu>ul>li.order-2 a span {
        margin-left: 8px;
    }
    .ep-navbar .menu>ul>li .indicator {
        background-color: var(--color-green-200);
        height: 3px;
        margin-top: 8px;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    .ep-navbar .menu>ul>li.active .indicator {
        width: 24%;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    .ep-navbar .menu>ul>li>a {
        display: block;
        font-weight: 600;
        color: var(--color-ter-txt);
    }
    .ep-navbar .menu>ul>li>a i {
        position: absolute;
        font-size: 1.25rem;
        line-height: 3.125rem;
        top: 0;
        right: 0;
        width: 3.125rem;
        height: 3.125rem;
        text-align: center;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    .ep-navbar .menu>ul>li.active a {
        color: var(--color-prim-txt);
    }
    .ep-navbar .menu>ul>li.order-1:nth-child(4) {
        border-bottom: var(--border-extralight);
        padding-bottom: 3.25rem;
    }
    .ep-navbar .menu>ul>li.order-2 {
        display: block;
        margin-bottom: 2px;
    }
    .ep-navbar .menu>ul>li.order-2.start {
        margin-top: 1.5rem;
    }
    .ep-navbar .menu>ul>li.order-2 a span {
        margin-left: 8px;
    }
    .ep-navbar .menu>ul>li.order-2 a {
        display: flex;
        align-items: center;
    }
    /* .ep-navbar .menu>ul>li.order-2 a img {
        width: 24px;
    } */
    .ep-navbar .menu .menu-mobile-nav {
        position: relative;
        position: sticky;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        top: 0;
        height: fit-content;
        padding: 1rem 2% 1rem 0;
        margin-bottom: 1.5rem;
        /* border-bottom: var(--border-thin); */
        background: var(--color-sec-bg);
    }
    .ep-navbar .menu .menu-mobile-nav .menu-mobile-title {
        font-family: inherit;
        font-size: 1rem;
        font-weight: 500;
        line-height: inherit;
        color: var(--color-sec-txt);
        text-transform: capitalize;
        display: flex;
        align-items: center;
        padding-left: 8%;
        margin-top: .4rem;
    }
    .ep-navbar .menu .menu-mobile-nav .menu-mobile-title button {
        border: 2px solid var(--color-green-200);
        border-radius: 2rem;
        color: var(--color-green-200);
        padding: 8px 56%;
        font-weight: 600;
        font-size: 1.15rem;
    }
    .ep-navbar .menu .menu-mobile-nav .menu-mobile-close {
        font-size: 2.25rem;
        line-height: 3.125rem;
        cursor: pointer;
        width: 3.125rem;
        height: 3.125rem;
        text-align: center;
        /* border-left: var(--border-thin); */
        color: var(--color-sec-txt);
    }
    .ep-navbar .menu .menu-section {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        background: var(--color-overlay-bg);
        backdrop-filter: blur(5px);
        -webkit-transition: all 0.45s ease-in-out;
        transition: all 0.45s ease-in-out;
    }
    .overlay.active {
        opacity: 1;
        visibility: visible;
    }
}