@import "https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,600;0,700;0,800;1,600;1,700;1,800&display=swap";
:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-darken: hsl(0, 0%, 20%);
    --color-green-100: #d4fef7;
    --color-green-200: #3bd0a6;
    --color-green-300: #00d76d;
    --color-green-400: #005136;
    --color-orange-100: #fee8cc;
    --color-orange-200: #faaf4d;
    --color-orange-300: #f88c00;
    --color-purple-100: #e8cfe6;
    --color-purple-200: #ba6fb5;
    --color-purple-300: #a33f9d;
    --font-brand: "Alumni Sans";
    --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-ter-bg);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-purple-200);
    border-radius: 4rem;
}

body {
    --color-prim-bg: #ffffff;
    --color-sec-bg: #f5f5f6;
    --color-ter-bg: #ebebed;
    --color-prim-txt: #14132c;
    --color-sec-txt: #27273d;
    --color-ter-txt: #626272;
    --color-landing: var(--color-green-400);
    --color-navMenu-bg: #ffffff;
    --border-thin: 1px solid #e2e1e5;
    --border-extralight: 1px solid #a7a6b0;
    --color-navbar-bg: #ffffff80;
    --color-overlay-bg: #14132c80;
    --color-popup-bg: #ffffff;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html {
    font-size: 16px;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    overflow-x: hidden;
    color: var(--color-sec-txt);
    background: var(--color-prim-bg);
}

a,
button,
button:focus,
a:hover,
a:active,
a:visited,
a:focus {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    border-radius: 200px;
    text-decoration: none;
}

img,
video {
    display: block;
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

img {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

svg {
    width: 20px;
}


/* animations start*/

@-webkit-keyframes slideLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@-webkit-keyframes slideRight {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@keyframes slideRight {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

.ep-container {
    max-width: 76rem;
    height: auto;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.ep-tooltip {
    position: absolute;
    padding: 8px;
    min-width: fit-content;
    font-size: 0.95rem;
    color: var(--color-ter-txt) !important;
    border-radius: 8px 0px 8px 8px;
    background: var(--color-popup-bg);
    box-shadow: var(--shadow-medium);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


/* navbar starts */

.ep-navbar {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    margin: 0 auto;
    padding: 0.75rem 0;
    z-index: 100;
    background: var(--color-navbar-bg);
    backdrop-filter: blur(40px);
    box-shadow: var(--shadow-medium);
}

.nav-at-header {
    background: linear-gradient(#00000041, #00000000);
    backdrop-filter: blur(5px);
    box-shadow: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.nav-at-header .nav-item-left *,
.nav-at-header .nav-item-center .menu *,
.nav-at-header .nav-item-right *,
.nav-at-header .nav-item-right a {
    color: var(--color-white) !important;
}

.ep-navbar .ep-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.nav-item-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 17%;
    flex: 0 0 17%;
    font-family: var(--font-brand);
    font-size: 1.5rem;
    font-weight: 800;
    font-size: 2rem;
    letter-spacing: 0.4px;
}

.ep-navbar .ep-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
    color: var(--color-prim-txt);
}

.ep-brand img {
    width: 28px;
    margin-right: 8px;
}

.nav-item-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.nav-item-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 17%;
    flex: 0 0 17%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.nav-item-right .toggle-account {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 600;
    line-height: 1.25;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.nav-item-right .toggle-account .profile-menu {
    min-width: 240px;
    top: 2.5rem;
    right: 12px;
    font-weight: bold;
    padding: 16px;
}

.nav-item-right .toggle-account .profile-menu .menu-item {
    display: flex;
    align-items: center;
}

.nav-item-right .toggle-account .profile-menu * {
    color: var(--color-sec-txt);
    cursor: pointer;
}

.nav-item-right .toggle-account .profile-menu .menu-item a img {
    width: 48px;
}

.nav-item-right .toggle-account .profile-menu .menu-item .user-info a {
    margin-left: 1rem;
}

.nav-item-right .toggle-account .profile-menu .menu-item .user-info a {
    display: block;
    margin-bottom: 6px;
}

.nav-item-right .toggle-account .profile-menu .menu-item .email {
    font-size: 0.75rem;
    color: var(--color-ter-txt);
    text-decoration: underline;
}

.nav-item-right .toggle-account .profile-menu .signout-btn {
    margin-top: 8px;
}

.nav-item-right .toggle-account .profile-menu .signout-btn svg {
    margin-left: 8px;
    height: 16 px;
}

.nav-item-right .menu-icon {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 1.5rem;
    margin-left: 1.25rem;
    color: var(--color-sec-txt);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.nav-item-right .toggle-account .menu-icon.profile-thumbnail {
    width: 28px;
    height: auto;
    margin-top: 4px;
    cursor: pointer;
    display: none;
}

.nav-item-right .menu-icon .ep-tooltip {
    top: 2rem;
    font-size: .75rem !important;
    right: .5rem;
    text-align: center;
}

.nav-item-right .toggle-theme .ep-tooltip {
    min-width: 100px;
}

.nav-item-right .toggle-account .profile-menu .menu-link:hover,
.nav-item-right .toggle-account .profile-menu .signout-btn:hover {
    color: var(--color-green-400);
}

.ep-navbar .menu>ul>li {
    display: inline-flex;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.ep-navbar .menu>ul>li.order-2 {
    display: none;
}

.ep-navbar .menu>ul>li>a {
    position: relative;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.25;
    border: none;
    outline: none;
    color: var(--color-prim-txt);
    text-transform: capitalize;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.ep-navbar .menu>ul>li.active {
    margin-bottom: 0;
}

.ep-navbar .menu>ul>li.active>a {
    color: var(--color-green-300);
    font-weight: 800;
}

.nav-item-right a:hover,
.ep-navbar .menu>ul>li:hover>a {
    color: var(--color-green-300);
}

.ep-navbar .menu>ul>li .indicator {
    width: 0%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.ep-navbar .menu-mobile-nav,
.ep-navbar .menu-mobile-toggle {
    display: none;
}


/* main content */

.ep-main-content {
    position: relative;
    overflow-x: hidden;
}

.ep-main-content .section {
    padding-top: 5%;
    padding-bottom: 5%;
}

.ep-main-content .section h1 {
    font-size: 2.8vw;
    font-weight: 900;
    text-align: center;
    margin-bottom: 4%;
}


/* header section */

.ep-main-content #ep-header {
    position: relative;
    height: 64vh;
    min-height: fit-content;
    width: 100vw;
    display: flex;
    overflow: hidden;
    /* background-color: var(--dark); */
    background-color: var(--color-green-400);
}

.ep-main-content .ep-text-content {
    position: relative;
    z-index: 6;
    align-self: center;
    height: fit-content;
    margin-top: 2.5%;
}

#ep-header .ep-text-content *,
#ep-header .ep-text-content a.ep-terms-link {
    color: var(--color-white);
}

#ep-header .ep-text-content .ep-reward-con {
    width: 70%;
}

#ep-header .ep-text-content>.ep-reward-con p:nth-child(1) {
    font-size: 1.8vw;
    font-weight: 700;
    margin-bottom: .25rem;
    opacity: .85;
}

#ep-header .ep-reward-con .ep-reward {
    font-size: 4.9vw !important;
    font-weight: 900;
    letter-spacing: 1px;
    min-width: fit-content;
    color: var(--color-green-300);
}

#ep-header .ep-text-content .referrals-btn {
    margin-top: 1rem;
    background: transparent;
    border: 2px solid var(--color-green-100);
    color: var(--color-green-100);
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: .8px;
    text-transform: uppercase;
    padding: 16px;
    width: 28%;
}

#ep-header .ep-text-content .referrals-btn:hover {
    background: var(--white);
    color: var(--color-purple-300);
    font-weight: 800;
    width: 28.5%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-shadow: var(--shadow-medium);
}

#ep-header .ep-text-content a.ep-terms-link {
    display: block;
    width: fit-content;
    text-decoration: underline;
    font-size: 0.55rem;
    letter-spacing: 1px;
    color: var(--color-green-100);
    margin-top: 2rem;
}

#ep-header .ep-text-content .ep-terms-link:hover {
    color: var(--color-green-200);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#ep-header .ep-img-content {
    position: absolute;
    right: 0;
    bottom: 0;
}

#ep-header .ep-img-content img {
    height: 80vh;
}


/* how it works section */

#ep-how-it-works {}

#ep-how-it-works .card-deck .card {
    text-align: center;
    background-color: var(--color-ter-bg);
    border: none;
    border-radius: 16px;
    padding: .75rem;
    padding-top: 32px;
    margin-bottom: 1.75rem;
}

#ep-how-it-works .card-deck .card-heading p {
    background-color: var(--color-orange-200);
    color: var(--color-white);
    font-size: 1.5rem;
    font-weight: 700;
    width: 64px;
    height: 64px;
    padding-top: 14px;
    border-radius: 4rem;
}

#ep-how-it-works .card-deck .card-2 .card-heading p {
    background-color: var(--color-purple-300);
}

#ep-how-it-works .card-deck .card-3 .card-heading p {
    background-color: var(--color-green-200);
}

#ep-how-it-works .card-deck .card-title {
    font-size: 1.35rem;
    font-weight: 700;
}

#ep-how-it-works .card-deck .card-text {
    color: var(--color-ter-txt);
}


/* rewards section */

.ep-main-content #ep-rewards {
    background-color: var(--color-ter-bg);
    text-align: center;
    min-height: fit-content;
}

#ep-rewards .owl-1 .owl-nav {
    width: 100%;
    position: absolute;
    top: 50%;
}

.carousel-nav {
    width: 100%;
    border-bottom: var(--border-extralight);
    margin-bottom: 40px;
    margin-top: 4%;
}

.carousel-nav a {
    color: var(--color-ter-txt);
    text-align: center;
    display: inline-block;
    font-weight: 500;
    margin-bottom: .88%;
}

.carousel-nav a:hover {
    color: var(--color-prim-txt);
    text-decoration: none;
}

.carousel-nav a.active {
    color: var(--color-purple-200);
    font-weight: 700;
}

.carousel-nav a.a-2.active {
    color: var(--color-green-200);
}

.carousel-nav a.active:before {
    content: "";
    bottom: 2%;
    left: 0;
    right: 0;
    position: absolute;
    border-bottom: 2px solid var(--color-purple-200);
    margin-bottom: -2.1%;
}

.carousel-nav a.a-2.active:before {
    border-bottom: 2px solid var(--color-green-200);
}

.owl-1 .cd-cnr-text {
    font-weight: 600;
}

.owl-1 .cd-cnr-text span {
    color: var(--color-purple-200);
}

.owl-1 .item-2 .cd-cnr-text span {
    color: var(--color-green-200);
}

.owl-1 table thead,
.owl-1 table thead tr {
    background-color: var(--color-prim-txt);
}

.owl-1 table thead th {
    background-color: var(--color-ter-bg) !important;
    color: var(--color-prim-txt);
}

.owl-1 .owl-nav .owl-next,
.owl-1 .owl-nav .owl-prev {
    border: 1px solid red;
    z-index: 92;
    position: absolute;
    top: 50%;
}

.owl-1 .owl-nav .owl-next:active,
.owl-1 .owl-nav .owl-next:focus,
.owl-1 .owl-nav .owl-prev:active,
.owl-1 .owl-nav .owl-prev:focus {
    outline: none;
}

.owl-1 .owl-nav .owl-next span,
.owl-1 .owl-nav .owl-prev span {
    color: #fff;
}

.owl-1 .owl-nav .owl-next span:before,
.owl-1 .owl-nav .owl-prev span:before {
    font-size: 40px !important;
}

.owl-1 .owl-nav .owl-next {
    border: 4px solid blue;
    right: 20px;
}

.owl-1 .owl-nav .owl-prev {
    left: 20px;
}

.owl-1 .owl-dots {
    position: absolute;
    bottom: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.owl-1 .owl-dots .owl-dot {
    background: none;
    display: inline-block;
}

.owl-1 .owl-dots .owl-dot>span {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    margin: 4px;
}

.owl-1 .owl-dots .owl-dot.active>span {
    background: white;
}

.owl-1 .owl-dots .owl-dot:active,
.owl-1 .owl-dots .owl-dot:focus {
    outline: none;
}


/* conditions section */

.ep-main-content #ep-conditions h4 {
    font-size: 18px;
}

.ep-main-content #ep-conditions h5 {
    font-size: 16px;
    /* padding-left: 1.5rem; */
}

.ep-main-content #ep-conditions p,
.ep-main-content #ep-conditions h6 {
    font-size: 14px;
}

.ep-main-content #ep-conditions .guide-text,
.ep-main-content #ep-conditions h6 {
    padding-left: 2rem;
    line-height: 1.5rem;
}

.ep-main-content #ep-conditions h6 {
    font-weight: 400;
}

.panel,
.panel-body {
    box-shadow: none;
    padding-top: 1rem;
}

.panel-group .panel-heading {
    padding: 0;
}

.panel-group .panel-heading a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
    text-decoration: none;
    position: relative;
    border-radius: 0;
    border-bottom: var(--border-extralight);
    color: var(--color-prim-txt);
    font-weight: 600;
}

.panel-group .panel-heading a:after {
    content: "-";
    font-size: 2rem;
}

.panel-group .panel-heading a.collapsed:after {
    content: "+";
}


/* Footer */

footer ul {
    margin: 0px;
    padding: 0px;
}

.footer-section {
    background: #151414;
    position: relative;
}

.footer-cta {
    border-bottom: 1px solid #373636;
}


/* .single-cta svg {
    color: #ff5e14;
    font-size: 30px;
    float: left;
    margin-top: 8px;
} */

.cta-text {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cta-text h4 {
    color: var(--color-white);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}

.cta-text span {
    color: #757575;
    font-size: 15px;
}

.footer-content {
    position: relative;
    z-index: 2;
}

.footer-logo {
    margin-bottom: 8px;
}

.footer-logo a {
    display: flex;
    align-items: center;
    font-family: var(--font-brand);
    font-size: 3.2vw;
    text-transform: uppercase;
    color: var(--color-white);
}

.footer-logo img {
    width: 3.2vw;
    max-width: 200px;
    margin-right: 8px;
}

.footer-social-icon {
    display: flex;
}

.footer-social-icon a {
    color: var(--color-white);
    font-size: 16px;
    margin-right: 15px;
    height: 40px;
    width: 40px;
    line-height: 38px;
    border-radius: 50%;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}

.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: var(--color-orange-300);
}

.footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
}

.footer-widget ul li a:hover {
    color: var(--color-orange-300);
}

.footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
}

.copyright-area {
    background: #202020;
    padding: 25px 0;
}

.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}

.copyright-text p a {
    color: var(--color-orange-300);
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}

.footer-menu li:hover a,
.footer-social-icon a:hover {
    color: var(--color-orange-300);
}

.footer-menu li a {
    font-size: 14px;
    color: #878787;
}


/* Login style */


/* h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-weight: 700;
} */

.brand {
    padding: 20px;
    background: url(/assets/images/img-2.jpg);
    background-size: cover;
    background-position: center center;
    color: var(--color-white);
    min-height: 540px;
    height: 100vh;
    position: relative;
    box-shadow: var(--shadow-medium);
    transition: all 0.6s cubic-bezier(1, -0.375, 0.285, 0.995);
    z-index: 9999;
}

.brand.active {
    width: 100%;
}

.brand::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--color-green-300);
    opacity: .6;
    z-index: -1;
}

.brand a.logo {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    line-height: 1em;
    text-transform: uppercase;
    font-family: var(--font-brand);
}

.brand a.logo img {
    width: 1.2rem;
    margin-right: 4px;
}

.brand a.logo span {
    font-size: 24px;
    color: var(--color-white);
}

.brand .heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: all 0.6s;
}

.brand .heading.active {
    top: 100px;
    left: 100px;
    transform: translate(0);
}

.brand .heading h2 {
    font-family: var(--font-brand);
    font-size: 7vw;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
}

.brand .heading p {
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    white-space: 4px;
}

.brand .success-msg {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 60px;
}

.brand .success-msg p {
    font-size: 25px;
    font-weight: 400;
}

.brand .success-msg p.active {
    transform: translateY(0);
    opacity: 1;
}

.form {
    position: relative;
}

.form .form-peice {
    min-height: 480px;
    height: 100vh;
    color: #bbbbbb;
    padding: 30px 0 60px;
    transition: all 0.9s cubic-bezier(1, -0.375, 0.285, 0.995);
    position: absolute;
    top: 0;
    left: -30%;
    width: 130%;
    overflow: hidden;
}

.form .form-peice.switched {
    transform: translateX(-100%);
    width: 100%;
    left: 0;
}

.form form {
    padding: 0 40px;
    margin: 0;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.form form .form-group {
    margin-bottom: 5px;
    position: relative;
}

.form form .form-group.hasError input {
    border-color: #f95959 !important;
}

.form form .form-group.hasError label {
    color: #f95959 !important;
}

.form form label {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    transform: translateY(40px);
    transition: all 0.4s;
    cursor: text;
    z-index: -1;
}

.form form label.active {
    transform: translateY(10px);
    font-size: 10px;
}

.form form label.fontSwitch {
    font-weight: 600;
}

.form form input:not([type=submit]) {
    background: none;
    outline: none;
    border: none;
    display: block;
    padding: 10px 0;
    width: 100%;
    border-bottom: var(--border-extralight);
    color: var(--color-sec-txt);
    font-size: 15px;
    z-index: 1;
}

.form form input:not([type=submit]).hasError {
    border-color: #f95959;
}

.form form span.error {
    color: #f95959;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    position: absolute;
    bottom: -20px;
    right: 0;
    display: none;
}

.form form input[type=password] {
    color: #f95959;
}

.form form .CTA {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.form form .check-group {
    width: 60%;
    display: flex;
    background-color: var(--color-purple-100);
}

.form form .CTA input {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1rem 4rem;
    background: var(--color-green-300);
    color: var(--color-white);
    border-radius: 30px;
    border: none;
    font-family: "Montserrat", sans-serif;
}

.form form .check-group input {
    padding: 0;
    width: 10%;
    display: inline-flex;
    margin: 0;
}

.form form .check-group label {
    position: relative;
    padding: 0;
    display: inline-flex;
    margin: 0;
}

@media (max-width: 768px) {
    .container {
        overflow: hidden;
    }
    section#formHolder {
        padding: 0;
    }
    section#formHolder div.brand {
        min-height: 200px !important;
    }
    section#formHolder div.brand.active {
        min-height: 100vh !important;
    }
    section#formHolder div.brand .heading.active {
        top: 200px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    section#formHolder div.brand .success-msg p {
        font-size: 16px;
    }
    section#formHolder div.brand .success-msg a {
        padding: 5px 30px;
        font-size: 10px;
    }
    section#formHolder .form {
        width: 80vw;
        min-height: 500px;
        margin-left: 10vw;
    }
    section#formHolder .form .form-peice {
        margin: 0;
        top: 0;
        left: 0;
        width: 100% !important;
        transition: all 0.5s ease-in-out;
    }
    section#formHolder .form .form-peice.switched {
        transform: translateY(-100%);
        width: 100%;
        left: 0;
    }
    section#formHolder .form .form-peice>form {
        width: 100% !important;
        padding: 60px;
        left: 50%;
    }
}

@media (max-width: 480px) {
    section#formHolder .form {
        width: 100vw;
        margin-left: 0;
    }
    h2 {
        font-size: 50px !important;
    }
}

.hide {
    display: none;
}